<link rel='preconnect' href='https://fonts.googleapis.com' />
<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
<link
  href='https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap'
  rel='stylesheet'
/>
<div
  style="font-family: 'Inter', sans-serif; border-top-left-radius: 8px; border-top-right-radius: 8px;"
>
  <div style='max-width: 600px; margin:auto;'>
    <header
      style='padding: 16px; background-color: #dee4e7; color: #649463; border-top-left-radius: 8px; border-top-right-radius: 8px; border-bottom: 1px solid #649463;'
    >
      <img style='width: 50px; height: 50px;' src='cid:logo' />
      <h1
        style='margin: 0 0 0 16px; line-height: 50px; display: inline-block;'
      >Nossas Plantas</h1>
    </header>
    <div style='padding: 16px; background-color: #F0F3F3;'>
      <p style='text-align: left;'>Olá <b>{{name}}</b>,</p>
      <p style='text-align: left;'>Sua conta foi criada, mas precisamos que
        confirme seu email antes de ter acesso ao Nossas Plantas.</p>
      <p style='text-align: left;'>Para confirmar seu email e ativar sua conta,
        basta clicar no botão abaixo:</p>
      <div
        style='text-align: center; background-color: #649463; color: #FFFFFF; padding: 8px 16px; border-radius: 4px; display:inline-block;'
      >
        <a style='color: white; text-decoration:none;' href='{{url}}'>Confirmar
          email</a>
      </div>
      <p style='text-align: left;'>Caso o botão não funcione, copie e cole a URL
        abaixo em seu navegador:</p>
      <span style='text-align: left;'><a href='{{url}}'>{{url}}</a></span>
      <p style='text-align: left;'>Se você não realizou nenhum cadastro em nossa
        plataforma, você pode ignorar ou responder a esse email.</p>
    </div>
    <footer
      style='padding: 16px; background-color: #649463; color: #FFFFFF; display: flex; align-items: center; justify-content: center; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;'
    >
      <span>Email enviado por Nossas Plantas -
        <a
          style='color: white;'
          href='https://our-plants-web.vercel.app'
        >https://our-plants-web.vercel.app</a></span>
    </footer>
  </div>
</div>